Pygments==2.5.2 # required by pelican
beautifulsoup4==4.9.3 # required by interlinks
pelican[markdown]==4.2.0
icalendar==4.0.7
jinja2==2.11.3 # required by pelican
markupsafe==1.1.1 # required by pelican
setuptools==44.0.0 # required by Markdown
