{% extends "base.html" %}
{% block content %}
    {% if articles %}
         {% for article in (articles_page.object_list if articles_page else articles) %}
        		{% if loop.first and not articles_page.has_previous()%}
	        		<article>
	        			<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
	                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
	                    <div class="well well-sm">
	                        {% include "includes/article_info.html" %}
	                    </div>
	                {% endif %}
	                {{ article.content }}
	                {% include 'includes/comment_count.html' %}
	        		</article>
	        		<hr/>
        		{% else %}
		            <article>
		                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
		                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
		                    <div class="well well-sm">
		                        {% include "includes/article_info.html" %}
		                    </div>
		                {% endif %}
		                <div class="summary">{{ article.summary }} <a style="float: right" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
		                    {% include 'includes/comment_count.html' %}
		                </div>
		            </article>
		            <hr/>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
